<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-grid style="width: 100%;">
    <ion-row>
      <ion-col class="keynua-widget" style="width: 100%;"></ion-col>
      
    </ion-row>
    <!--<ion-row>
      <ion-col style="width: 100%;">
        <ion-label>Token de Contrato</ion-label>
        <ion-input [(ngModel)]="tokenInputValue" [clearOnEdit]="false" required="true" style="border-color: black;"></ion-input>
        <ion-button buttonType="button" type="button" (click)="openKeynuaWidget()">Abrir Widget</ion-button>
      </ion-col>
    </ion-row>-->
  </ion-grid>
</ion-app>
